/* img{width: 100%;} */

.backgroundimage{
    background-color: #12345f;
    background-image: url(../image/IS.jfif);
    background-repeat: no-repeat;
    width: 1200px;
    margin:auto;
    object-fit: cover;
}

.size{
    height: 100;
    width: 200;
    align-items: center;
}

.bodytext{

    text-align: center;
    width: 75%; 
    border: 2px solid black;

}

p{
    text-align: center;
}

.tableau{
    width: 80% !important;
    
}

.font{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-color: black;
}